* {
  background: url(../../../public/img/dota1.png);
  background-blend-mode:overlay;
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
