* {
  background: url(../../../public/img/terror.png);
  background-blend-mode:overlay;
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 60px;
}
