

.footerContainer {
  padding-bottom: 4rem;
  margin: 0;
  box-sizing:border-box;
  padding: 0;
}

.footer {
  width:80% ;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto

}

.footerHeading {
  display: flex;
  flex-direction: row;
}

.footerHeading h2 {
  margin-bottom: 2rem;
}

.footerHeading div {
  margin-right: 4rem;
}

.footerHeading Link {
  color:#fff;
  text-decoration:none;
  margin-bottom: 0.5rem;
}

.footerHeading a:hover {
  color: red;
  transition: 0.3s ease-out;
}

