.div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 33rem;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #010101;
}

.textarea {
  margin-bottom: 1rem;
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.877);
  height: 5rem;
  background-color: azure;
}

.btn {
  margin-bottom: 1rem;
}
